html {
  background-image: url(/img/issview.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  filter: saturate(160%);
  background-color: white;
}

body {
  height: 100vh;
}

a {
  font-family: "Montserrat", sans-serif;
}

.topLogo {
  padding-top: 28px;
  height: 1.5em;
  width: auto;
}
.logoHeading {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.morning,
.star {
  font-size: 70px;
}

.slogan {
  padding-top: 7em;
  font-size: 24px;
}

.starIMG {
  margin-top: 32px;
  filter: invert(100%);
  height: 3.5em;
  width: auto;
}

#row {
  padding-top: 15em;
}

#bookBtn {
  margin-bottom: 5em;
}
